@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

$primary: #fbc02d;
$secondary: #616161;
$subtle-bg-yellow: #fbc02d73;
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  // box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  height: 100%;
  background-color: transparent;
  background-image: url("../images/bg_texture4.jpeg");
  // background-repeat: repeat-x;
  // background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  --mat-stepper-container-color: none;
  --mat-sidenav-content-background-color: none;
  --mat-toolbar-container-background-color: none;
  --mat-paginator-container-background-color: none;
  touch-action: none;
  font-size: 16px;
  line-height: 1.4;
}

html::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

html::-webkit-scrollbar-track {
  // background: rgb(179, 177, 177);
  background: transparent;
  border-radius: 2px;
  height: 1px;
}

html::-webkit-scrollbar-thumb {
  // background: rgb(136, 136, 136);
  background: transparent;
  border-radius: 2px;
  height: 1px;
}

html::-webkit-scrollbar-thumb:hover {
  // background: rgb(100, 100, 100);
  background: transparent;
  border-radius: 2px;
}

html::-webkit-scrollbar-thumb:active {
  // background: rgb(68, 68, 68);
  background: transparent;
  border-radius: 2px;
  height: 1px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 2px;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.nav-link.active {
  background-color: #0d6efd;
  color: #fff;
  font-weight: bold;
  border-radius: 0.375rem;
}

.container {
  height: 100%;
  background-color: transparent !important;
  background: transparent;
}
.container-fluid {
  overflow-x: hidden;
  overflow-y: auto;
}
.logo-part-1 {
  color: #fbc02d; //#d3c204;// #ffeb3b;
}
.logo-part-2 {
  color: #222222;
}
.btn-examatics-primary {
  background-color: $primary;
  color: #fff;
  border: none;
  &:hover {
    background-color: $secondary;
  }
  // margin-top: 1rem;
}
.btn-examatics-secondary {
  background-color: $secondary;
  color: #fff;
  border: none;
  &:hover {
    background-color: $primary;
  }
  // margin-top: 1rem;
}
.btn-examatics-clear {
  background-color: transparent;
  color: #222222;
  border: none;
  &:hover {
    background-color: $primary;
  }
  // margin-top: 1rem;
}
.ex-subtle-bg {
  background-color: $subtle-bg-yellow !important;
}
.ex-strong-bg {
  background-color: $primary !important;
}
.ex-no-bg {
  background-color: transparent !important;
}
// .nav{
//   a{
//     color: #222222;
//   }
// }
.active {
  background-color: $primary !important;
  color: white;
}
.ex-clear-bg {
  background-color: rgba(255, 255, 255, 0.126);
}
.sutra {
  font-size: 1.75rem;
  font-weight: bold;
  color: #6c757d;
}
.section {
  margin-bottom: 4rem;
}
.highlight {
  color: #0d6efd;
  font-weight: bold;
}
.card {
  border-left: 4px solid #0d6efd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
footer {
  padding: 1rem;
  background-color: $secondary;
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    padding: 0 0.5rem;
    cursor: pointer;
  }
}
